<!doctype html>
<html lang="en" ng-app="qna">

    <head>
        <meta charset="utf-8">
        <title>QnA</title>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div ng-controller="QuestionController">
            <div class="left-side">
                <div ng-repeat="question in leftSide">
                    <question-card question="question"/>
                </div>
            </div>
            <div class="right-side">
                <div ng-repeat="question in rightSide">
                    <question-card question="question"/>
                </div>
            </div>
        </div>
        
        <script src="js/lib/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services/questionsData.js"></script>
        <script src="js/directives/Question.js"></script>
        <script src="js/controllers/QuestionController.js"></script>
        
    </body>
</html>